@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: blanchedalmond;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

@layer components {
  .aboutIcons{
    @apply w-12 h-12 bg-hover bg-opacity-70 text-title text-xl inline-flex
    items-center justify-center rounded-md shadow-xl hover:bg-opacity-50
    hover:-translate-y-1 transition-all hover:text-detail cursor-pointer duration-300;
  }
}

.active{
  color: #e16a3f;
}